In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
22   18  Female     Poor        PG       Yes
32   92    Male  Average        UG       Yes
45   61    Male     Poor        PG       Yes
29   83  Female  Average        UG       Yes
26   53  Female     Poor        PG        No

In [4]:
df= df.iloc[:,2:]

In [6]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
x_train

NameError: name 'x_train' is not defined